*{
	padding: 0;
	margin: 0;
}

.fl{
	float: left;
}
.fr{
	float: right; 
}
.clearfix:after{
   content:"";
   display:block;
   height:0;
   clear:both;
   visibility:hidden;
}
.clearfix{
  zoom:1;
}
ul li{
	list-style: none;
}
.content{
	padding: calc(20/1080*100vh) calc(70/1920*100vw);
	font-size: calc(22/1920*100vw);
	color: #666;
}
a{
	text-decoration:none;
	outline-style: none;
	color: #666666;
}
.capacity-title{
  margin: calc(20/1080*100vh) 0;
  height:calc(30/1080*100vh);
   font-size: calc(22/1920*100vw);
  line-height: calc(30/1080*100vh);
  color: #666666;
}
.capacity-title .active{
  color: #2873C8;
}
.hot-box{
  width: calc(347/1920*100vw);
  height: calc(349/1080*100vh);
  margin-right: calc(80/1920*100vw);
  text-align: center;
  position: relative;
}
.hot-box div{
  text-align: center;
}
.hot-box img{
  width: calc(347/1920*100vw);
  height: calc(309/1080*100vh);
}
.hot-box span{
  color: #333;
  margin: 0;
}
.card-box{
  margin-top: calc(50/1080*100vh);
}

.hot-box i{
  display: inline-block;
  width: calc(87/1920*100vw);
  height:calc(40/1080*100vh);
  background: #F65353;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  line-height: calc(40/1080*100vh);
}
.w{
	width: calc(1368/1920*100vw);
	margin: 0 auto;
}